{% extends "VetaHomeworkBundle::layout.html.twig" %}

{% block title %}VetaHomeworkBundle:Post{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-header">
                <h1 class="blog-title">The Post List</h1>
                <p class="lead blog-description">Last posts most recent:</p>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Sort By Date</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li {% if((app.request.get("sort_date") == "new") or (app.request.get("sort_date") is null )) %}  class="active" {% endif %}><a href="{{ path('veta_homework_post_index', {'sort_date':'new' }) }}">new</a></li>
                            <li {% if(app.request.get("sort_date") == "old") %}  class="active" {% endif %}><a href="{{ path('veta_homework_post_index', {'sort_date':'old' }) }}">old</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Sort By Title</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li {% if(app.request.get("sort_title") == "up") %}  class="active" {% endif %}><a href="{{ path('veta_homework_post_index', {'sort_title':'up' }) }}">up</a></li>
                            <li {% if(app.request.get("sort_title") == "down") %}  class="active" {% endif %}><a href="{{ path('veta_homework_post_index', {'sort_title':'down' }) }}">down</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Count Posts in Page</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li {% if(app.request.get("count") == 5) %}  class="active" {% endif %}><a href="{{ path('veta_homework_post_index', {'count':5 }) }}">5</a></li>
                            <li {% if(app.request.get("count") == 10) %}  class="active" {% endif %}><a href="{{ path('veta_homework_post_index', {'count':10 }) }}">10</a></li>
                            <li {% if(app.request.get("count") == 20) %}  class="active" {% endif %}><a href="{{ path('veta_homework_post_index', {'count':20 }) }}">20</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            {% for post in posts %}
                <div class="blog-post">
                    <h2 class="blog-post-title"><a title="{{ post.title }}" style="color: #333;text-decoration: none;cursor: pointer" href="{{ path('veta_homework_post_view', {'slug': post.slug}) }}">{{ post.title }}</a></h2>
                    <p class="blog-post-meta">
                        <small>
                            <date>{{ post.dateCreate|date('Y-m-d H:m:s') }}</date> by
                            {% for tag in post.tags %}
                                <a href="{{ path('veta_homework_tag_index', {'slug':tag.slug}) }}">{{ tag.title }}</a> |
                            {% endfor %}

                            <span onclick="countLikesPost({{ post.id }}, {{ post.likes }}, '{{ post.slug }}')" id="likes_post_{{ post.id }}" class="likes_post pull-right">
                            {% if (app.session.get(post.slug)) %}
                                <a style="color: #333; text-decoration: none;cursor: pointer" class="like_post">
                                    <span class="heart"><i class="glyphicon glyphicon-heart"></i></span>
                                    <span class="likes">{{ post.likes }}</span>
                                    Likes
                                </a>
                            {% else %}
                                <a style="color: #999; text-decoration: none;cursor: pointer" class="like ">
                                    <span class="heart"><i class="glyphicon glyphicon-heart-empty"></i></span>
                                    <span class="likes">{{ post.likes }}</span>
                                    Likes
                                </a>
                            {% endif %}
                            </span>
                        </small>
                    </p>
                    {{ post.description|raw }}
                </div>
            {% endfor %}
            <hr>
            {{ knp_pagination_render(posts, "", {}, { "style": "pager", "prev_label": "&larr; Older", "next_label": "Newer &rarr;" }) }}
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {% include 'VetaHomeworkBundle::sidebar.html.twig' %}
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
{% endblock %}
