{% extends "VetaHomeworkBundle:Post:index.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <img src="{{ asset('uploads/posts/' ~ post.image) | imagine_filter('big_thumb') }}" alt="{{ post.title }}">
                <p class="blog-post-meta">
                    <small>
                        <date>{{ post.dateCreate|date('Y-m-d H:m:s') }}</date> by
                        {% for tag in post.tags %}
                            <a href="{{ path('veta_homework_tag_index', {'slug':tag.slug}) }}">{{ tag.title }}</a> |
                        {% endfor %}
                    </small>
                    <span onclick="countLikesPost({{ post.id }}, {{ post.likes }}, '{{ post.slug }}')" id="likes_post_{{ post.id }}" class="likes_post pull-right">
                        {% if (app.session.get(post.slug)) %}
                            <a style="color: #333; text-decoration: none;cursor: pointer" class="like_post">
                                    <span class="heart"><i class="glyphicon glyphicon-heart"></i></span>
                                    <span class="likes">{{ post.likes }}</span>
                                    {{ 'likes'|trans }}
                                </a>
                            {% else %}
                            <a style="color: #999; text-decoration: none;cursor: pointer" class="like ">
                                    <span class="heart"><i class="glyphicon glyphicon-heart-empty"></i></span>
                                    <span class="likes">{{ post.likes }}</span>
                                    {{ 'likes'|trans }}
                                </a>
                        {% endif %}
                    </span>
                </p>
                {{ post.text|raw }}
            </div>
            <h3>{{ 'comments'|trans }}</h3>
            <hr>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                {{ form_start(form) }}
                <div class="form-group">
                    <strong>{{ 'new_comment'|trans }}</strong>
                    <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
                </div>
                {{ form_widget(form) }}
                <div class="form-group">
                    <div class="pull-right ">
                        <button type="submit" class="btn btn-default">{{ "btn_add"|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}

                <hr style="margin-top: 80px">
            {% else %}
                <a style="cursor: pointer" data-toggle="modal" data-target="#myModal">
                    {{ 'log_in'|trans }}
                </a>
                <br>
                <a href="{{ path('fos_user_registration_register') }}">
                    {{ 'sign_up'|trans }}
                </a>
                <hr>
            {% endif %}
            {% block message_block %}
                {% for flash_message in app.session.flashBag.get('info') %}
                    <div class="alert alert-danger" role="alert">
                        {{ "%that%: %this%"|replace({'%that%': "Message", '%this%': flash_message}) }}
                    </div>
                {% endfor %}
            {% endblock %}
            {% for comment in post.comments %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="{{ asset('src/img/noavatar92.7b2fde640943965cc88df0cdee365907.png') }}"  style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.user.username }}
                            <br>
                            <small>{{ comment.dateCreate|date }}</small>
                        </h4>
                        {{ comment.text|raw }}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {% include 'VetaHomeworkBundle::sidebar.html.twig' %}
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
{% endblock %}
