{% extends "VetaHomeworkBundle::base.html.twig" %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-social/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="http://bootstrap-3.ru/examples/signin/signin.css">
    <link href="http://bootstrap-3.ru/examples/blog/blog.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        {% block header %}
            <div class="row">
                {% include 'VetaHomeworkBundle::navbar.html.twig' %}
                <div class="col-sm-12" style="margin-bottom: -20px; margin-top: 10px;">
                    <div class="pull-right">
                        <a id="en" title="Language English" href="{{ path(app.request.get('_route'),  app.request.get('_route_params')|merge({'_locale': 'en'})) }}" style="text-decoration: none">
                            <span class="label label-info">en</span>
                        </a>
                        <a id="uk" title="Мова Українська"  href="{{ path(app.request.get('_route'),  app.request.get('_route_params')|merge({'_locale': 'uk'})) }}" style="text-decoration: none">
                            <span class="label label-warning">uk</span>
                        </a>
                    </div>
                </div>
                {{ wo_render_breadcrumbs() }}
            </div>
        {% endblock %}
        <script type="text/javascript">
            function countLikesPost(id, likes, slug) {
                if ($.session.get(slug)){
                    $('#likes_post_'+id ).html('<a style="color: #999; text-decoration: none;cursor: pointer" class="like">' +
                            '<span class="heart"><i class="glyphicon glyphicon-heart-empty"></i></span>' +
                            '<span class="likes"> ' + $.session.get(slug) + ' </span>' +
                            ' {{ "likes"|trans }} ' +
                            '</a>');

                    $.session.remove(slug);
                } else {
                    $('#likes_post_'+id ).html('<a style="color: #333; text-decoration: none;cursor: pointer" class="like_post ">' +
                            '<span class="heart"><i class="glyphicon glyphicon-heart"></i></span>' +
                            '<span class="likes"> ' + (likes + 1) + ' </span>' +
                            ' {{ "likes"|trans }} ' +
                            '</a>');
                    $.session.set(slug, likes);
                }

                $.ajax({
                    url: "{{ path('veta_homework_post_likes') }}",
                    method: "POST",
                    data: "id=" + id,
                });
            }
        </script>
        {% block main %}{% endblock %}
    </div>
    {% block footer %}
        <div class="blog-footer">
            <p>{{ 'blog_template_built_for'|trans }} <a href="http://geekhub.ck.ua/">GeekHub</a>.</p>
            <p>
                <a href="#">{{ 'back_to_top'|trans }}</a>
            </p>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('src/js/my_js.js') }}"></script>
    <script src="{{ asset('src/js/jquery.session.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
