<nav class="navbar navbar-inverse navbar-static" id="navbar-example">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="{{ path('veta_homework_homepage') }}">{{ 'blog'|trans }}</a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
            {% set menu = knp_menu_get('main', [], {'slug': app.request.get("slug")}) %}
            {{ knp_menu_render(menu, { 'style': 'navbar' }) }}
            <!-- Button trigger modal -->
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="navbar-text navbar-right">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}" class="navbar-link">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </p>
            {% else %}
                <button class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">
                    {{ 'log_in'|trans }}
                </button>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                            <hr>
                            <div style="width: 300px; margin: 0 auto;">
                                <a href="{{ path('hwi_oauth_service_redirect', {'service':'google'}) }}" class="btn btn-block btn-social btn-google">
                                    <span class="fa fa-google-plus"></span> Sign in with Google+
                                </a>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service':'facebook'}) }}" class="btn btn-block btn-social btn-facebook">
                                    <span class="fa fa-facebook"></span> Sign in with Facebook
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('fos_user_registration_register') }}">
                                <input style="max-width: 300px;padding: 15px;margin: 0 auto;" class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'sign_up'|trans }}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-form navbar-right">
            {{ form_start(form_search) }}
            <div class="form-group">
                {{ form_widget(form_search) }}
            </div>
            <button type="submit" class="btn btn-default">{{ "btn_search"|trans }}</button>
            {{ form_end(form_search) }}
            </div>
        </div>
    </div>
</nav>
