<div class="sidebar-module sidebar-module-inset">
    <h4>{{ 'the_list_categories'|trans }}:</h4>
    {{ knp_menu_render('sidebar') }}
</div>
<div class="sidebar-module">
    <h4><a title="{{ 'the_list_posts'|trans }}" href="{{ path('veta_homework_post_index') }}" style="color: #333;text-decoration: none;cursor: pointer">{{ 'the_list_posts'|trans }}:</a></h4>
    <ol class="list-unstyled">
        {% for post in postsSidebarModule %}
            <li><a title="{{ post.title }}" href="{{ path('veta_homework_post_view', {'slug': post.slug}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ol>
</div>
<div class="sidebar-module">
    <h4><a title="{{ 'the_tags'|trans }}" style="color: #333;text-decoration: none;">{{ 'the_tags'|trans }}:</a></h4>
    {% for tag in tagsSidebarModule %}
        <a style="text-decoration: none; " title="{{ tag.title }}" href="{{ path('veta_homework_tag_index', {'slug': tag.slug}) }}">
            <span style="font-size: 16px;margin: 6px;" class="badge">{{ tag.title }}</span>
        </a>
    {% endfor %}
</div>
